/* h1 {
    font-size: 5rem;
    color: #fff;
    text-shadow: #000 1px 0 30px;
    font-weight: bold;
    font-family: 'Kaushan Script', cursive;
} */


/* #content-container {
    margin: 6rem;
} */

.card {
    width: 200px;
    text-align: center;
    border-radius: 10px;
    background: rgb(230, 219, 219);
    padding: 50px;
    text-align: center;
    cursor: pointer;
    height: 250px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.card-body {
    color: rgba(0, 0, 0, 0.9);
}

#error {
    text-align: center;
}

.beer_img {
    /* margin-top: 60px;
    padding-bottom: 60px; */
    height: 100px;
    width: 30px;
}

#results {
    display: grid;
    /* width: 300px; */
    grid-template-columns: 25% 25% 25% 25%;
    grid-gap: 10px;
    padding-top: 65px;
    padding-bottom: 25px;
}

.card-title {
    font-size: 20px;
    text-align: center;
    width: 200%;
    margin-left: -30px;
}